<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content="Dashboard"/>
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
  <title>喵喵财保后台系统</title>

  <!-- Favicons -->
  <link href="back/img/favicon.png" rel="icon"/>
  <link href="back/img/apple-touch-icon.png" rel="apple-touch-icon"/>

  <!-- Bootstrap core CSS -->
  <link href="back/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!--external css-->
  <link href="back/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="back/css/zabuto_calendar.css"/>
  <link rel="stylesheet" type="text/css" href="back/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="back/css/style.css" rel="stylesheet"/>
  <link href="back/css/style-responsive.css" rel="stylesheet"/>
  <script src="back/lib/chart-master/Chart.js"></script>
  <script type="text/javascript">
  	function acceptPro(){
  		location.href="/acceptPro";
  	}
  	
  
  	
  </script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    
    <div th:replace="server/commons/comm::#topbar(activeUri='guaranteeList.html')"></div>
    
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    
    <div th:replace="server/commons/comm::#sidebar(activeUri='guaranteeList.html')"></div>
    
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
     <section class="wrapper">
        <div class="row">
			
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">名称</th>
			      <th scope="col">详情</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">用户编号</th>
			      <td th:text="${findaclerk.magid}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">会员账号</th>
			      <td th:text="${findaclerk.username}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">职位</th>
			      <td th:text="${findaclerk.job}"></td>
			      <td>
			      </td>
			    </tr>
			    <tr>
			      <th scope="row">姓名</th>
			      <td th:text="${findaclerk.realname}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">身份证号码</th>
			      <td th:text="${findaclerk.user_card}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">邮箱</th>
			      <td th:text="${findaclerk.email}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">性别</th>
			      <td th:text="${findaclerk.sex}==1?'男':'女'"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">名族</th>
			      <td th:text="${findaclerk.nation}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">家庭地址</th>
			      <td th:text="${findaclerk.address}" ></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">紧急联系人</th>
			      <td th:text="${findaclerk.linkman}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">紧急联系人电话</th>
			      <td th:text="${findaclerk.emergency}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">入职日期</th>
			      <td th:text="${findaclerk.join_date}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">负责地区</th>
			      <td th:text="${findaclerk.city.region_name_c}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">手机号</th>
			      <td th:text="${findaclerk.phone}"></td>
			      <td></td>
			    </tr>
			    <tr>
			      <th scope="row">删除状态</th>
			      <td th:text="${findaclerk.del_status}==0?'未删除':'已删除'"></td>
			      <td></td>
			    </tr>
			   
			  </tbody>
			</table>
        </div>
     </section>
	  
    </section>
    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
    
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="back/lib/jquery/jquery.min.js"></script>

  <script src="back/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="back/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="back/lib/jquery.scrollTo.min.js"></script>
  <script src="back/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="back/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="back/lib/common-scripts.js"></script>
  <script type="text/javascript" src="back/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="back/lib/gritter-conf.js"></script>
  <!--script for this page-->
  <script src="back/lib/sparkline-chart.js"></script>
  <script src="back/lib/zabuto_calendar.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
        // (string | optional) the image to display on the left
        image: 'back/img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
