<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link href="back/img/favicon.png" rel="icon">
  <link href="back/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="back/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="back/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="back/css/style.css" rel="stylesheet">
  <link href="back/css/style-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="back/css/to-do.css">

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    
    <div th:replace="server/commons/comm::#topbar(activeUri='insurance_slip_list.html')"></div>
    
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    
    <div th:replace="server/commons/comm::#sidebar(activeUri='insurance_slip_list.html')"></div>
    
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
     <section class="wrapper">
        <div class="row">
       
      
      
       	
        <h3><i class="fa fa-angle-right"></i> 查看所有员工</h3>
        <!-- SIMPLE TO DO LIST -->
     
        <!--  row -->
        <!-- COMPLEX TO DO LIST -->
        <div class="row mt">
          <div class="col-md-12">
            <section class="task-panel tasks-widget">
              <div class="panel-heading">
                <div class="pull-left">
                	<tr> 
                		<td>姓名：</td>
                		<td>
                		<input type="text" value="" placeholder="请输入员工姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入员工姓名'"></tr>
                		</td>
                  <tr> 
                  	<td>
	                  	<td>身份证号码：</td>
	                  		<input type="text"value="" placeholder="请输入员工身份证号码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入员工身份证号码'" />
	                  	</td>
                  	</tr>
                	<tr>
                		<td>职位：
		                  <select id="job" >
		                  	<option value="">请选择职位</option>
		                  	<option value="">保单一审</option>
		                  	<option value="">保单二审</option>
		                  	<option value="">保单三审</option>
		                  	<option value="">理赔一审</option>
		                  	<option value="">理赔二审</option>
		                  	<option value="">理赔三审</option>
		                  	<option value="">会计</option>
		                  	<option value="">指导人员</option>
		                  	<option value="">保单勘察人员</option>
		                  	<option value="">理赔勘察人员</option>
		                  	<option value="">超级管理员</option>
		                  </select>
						</td>
                	</tr>
                	
                  <tr>
                  	<td>
						<td>省份：</td>
                  		<select class="text" name="district_id"  onchange="showStreet(this.value);">
							<option value="0">--请选择区域--</option>
							
								<option id="code" selected >广东</option>
								<option id="code"  >深圳</option>
							
						</select> 市：
							<select id="street" class="text" name="street">
								<option value="0">--请选择街道--</option>
							</select>
                  	</td>
                  </tr>
                  
                  <tr >
	                	<td >
	                		<input type="button" value="删除" />
	                	</td>
               	 </tr>
                  
                  <tr >
	                	<td >
	                		<input type="button" value="注销" />
	                	</td>
             	   </tr>
                </div>
              </div>
              
              <div>
       
              </div>
              <div class="panel-body" >
        
               <div class="panel-body">
                <div class="task-content">
                  <ul id="sortable" class="task-list">
                    <li class="list-primary">
                      <i class=" fa fa-ellipsis-v"></i>
                      <div class="task-checkbox">
                        <input type="checkbox" class="list-child" value="" />
                      </div>
                      <div class="task-title">
                        <span class="task-title-sp">周瑜</span>
                        <span class="badge bg-theme">zhouyu@163.com</span>
                        <span class="btn btn-primary btn-xs fa fa-pencil">622201199801070910</span>
                        <div class="pull-right hidden-phone">
                        	<input type="button" class="btn btn-success btn-xs fa fa-check" value="修改">
                        	<input type="button" class="btn btn-primary btn-xs fa fa-pencil" value="删除">
                        	<input type="button" class="btn btn-danger btn-xs fa fa-trash-o" value="注销">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class=" add-task-row">
                  <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
                  <a class="btn btn-default btn-sm pull-right" href="todo_list.html#">See All Tasks</a>
                </div>
              </div>
            </section>
          </div>
          <!--/col-md-12 -->
        </div>
        <!-- /row -->
      </section>
      
      
      
      
      
      
      
      
      
      
	  
    </section>
    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
    
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="back/lib/jquery/jquery.min.js"></script>

  <script src="back/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="back/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="back/lib/jquery.scrollTo.min.js"></script>
  <script src="back/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="back/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="back/lib/common-scripts.js"></script>
  <script type="text/javascript" src="back/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="back/lib/gritter-conf.js"></script>
  <!--script for this page-->
  <script src="back/lib/sparkline-chart.js"></script>
  <script src="back/lib/zabuto_calendar.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
        // (string | optional) the image to display on the left
        image: 'back/img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
