<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content="Dashboard"/>
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
  <title>喵喵财保后台系统</title>

  <!-- Favicons -->
  <link href="back/img/favicon.png" rel="icon"/>
  <link href="back/img/apple-touch-icon.png" rel="apple-touch-icon"/>

  <!-- Bootstrap core CSS -->
  <link href="back/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <!--external css-->
  <link href="back/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="back/css/zabuto_calendar.css"/>
  <link rel="stylesheet" type="text/css" href="back/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="back/css/style.css" rel="stylesheet"/>
  <link href="back/css/style-responsive.css" rel="stylesheet"/>
  <script src="back/lib/chart-master/Chart.js"></script>
  <script type="text/javascript">
  	function acceptPro(){
  		location.href="/acceptPro";
  	}
  </script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    
    <div th:replace="server/commons/comm::#topbar(activeUri='guaranteeList.html')"></div>
    
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    
    <div th:replace="server/commons/comm::#sidebar(activeUri='guaranteeList.html')"></div>
    
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
     <section class="wrapper">
        <div class="row">
			
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">名称</th>
			      <th scope="col">详情</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">投保单编号</th>
			      <td th:text="${insurance.policyid}">Mark</td>
			    </tr>
			    <tr>
			      <th scope="row">被保人姓名</th>
			      <td th:text="${insurance.insure_name}">Jacob</td>
			    </tr>
			    <tr>
			      <th scope="row">被保人证件号码</th>
			      <td th:text="${insurance.insure_card}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">区域</th>
			      <td th:text="${insurance.city.region_name_c}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">财产标的地址</th>
			      <td th:text="${insurance.address}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">与被保人关系</th>
			      <td th:text="${insurance.relation}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保人姓名</th>
			      <td th:text="${insurance.holder_name}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保人证件号码</th>
			      <td th:text="${insurance.holder_card}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保人性别</th>
			      <td th:text="${insurance.holder_sex}==1?'男':'女'" >Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保人手机号码</th>
			      <td th:text="${insurance.holder_phone}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保人电子邮箱</th>
			      <td th:text="${insurance.holder_email}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保日期</th>
			      <td th:text="${insurance.insure_date}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保单一审人</th>
			      <td th:text="${insurance.first_auditor}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保单二审人</th>
			      <td th:text="${insurance.second_auditor}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保单三审人</th>
			      <td th:text="${insurance.third_auditor}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保单审核状态</th>
			      <td th:text="${insurance.status.status_name}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">勘察员</th>
			      <td th:text="${insurance.scout}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">营业执照(企业)</th>
			      <td th:text="${insurance.license}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">行业编号(企业)</th>
			      <td th:text="${insurance.industry_code}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">营业面积(企业)</th>
			      <td th:text="${insurance.acreage}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">企业名称(企业)</th>
			      <td th:text="${insurance.firm_name}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">会员编号</th>
			      <td th:text="${insurance.userid}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">支付状态</th>
			      <td th:text="${insurance.pay_status}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">保费</th>
			      <td th:text="${insurance.premium}">Larry</td>
			    </tr>
			    <tr>
			      <th scope="row">投保性质</th>
			      <td th:text="${insurance.pol_property}==0?'个人':'企业'">Larry</td>
			    </tr>
			  </tbody>
			</table>		
			   <button type="button" class="btn btn-primary" style="margin-left: 400px" th:onclick="acceptPro()">分派专业指导人员</button>
			   <button type="button" class="btn btn-primary" style="margin-left: 400px" th:onclick="acceptPro()">分派现场勘察人员</button>
        </div>
     </section>
	  
    </section>
    <!--main content end-->
    <!--footer start-->
    <!--footer end-->
    
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="back/lib/jquery/jquery.min.js"></script>

  <script src="back/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="back/lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="back/lib/jquery.scrollTo.min.js"></script>
  <script src="back/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="back/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="back/lib/common-scripts.js"></script>
  <script type="text/javascript" src="back/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="back/lib/gritter-conf.js"></script>
  <!--script for this page-->
  <script src="back/lib/sparkline-chart.js"></script>
  <script src="back/lib/zabuto_calendar.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
        // (string | optional) the image to display on the left
        image: 'back/img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
</body>

</html>
