.bg_header{float:left;width:100%;height:29px;background:#f2f2f2}
.bg_top{float:left;width:100%;border-bottom:2px solid #ff3615}
.bg_banner,.bg_discount,.bg_content{float:left;width:100%}
.bg_site_map{float:left;margin-top:52px;width:100%;background:#ccc}
.bg_copy{float:left;padding-top:23px;width:100%;height:85px;line-height:30px;text-align:center;word-spacing:4px;color:#bababa;background:#303030}
.bg_copy a img{height:40px;border:0;}
.frame_width{width:1190px}
.frame{position:relative;float:left;width:1190px;overflow-x:visible}
.frame.f_header{z-index:100}
.frame.f_top{z-index:999;height:129px}
.header_bar{float:left;width:100%;padding:5px 0;height:20px;line-height:16px}
.for_member{float:left;margin:2px 0;color:#666;height:16px;line-height:16px}
.for_member span{float:left;margin-right:6px;display:inline}
.for_member span a{color:#666;display:inline-block}
.for_member span a:hover{color:#e7340b}
a.with_icon{line-height:18px;padding:0 6px;background:url(icons_header.gif) no-repeat}
a.with_icon.heart{padding-left:18px;background-position:1px 0}
a.with_icon.phone{padding-left:18px;background-position:0 -18px}
.for_share{float:right}
a.share{float:left;margin-right:10px;display:inline;width:19px;height:19px;background:url(icons_share.gif) no-repeat}
a.sina_weibo{background-position:0 0}
a.tenc_weibo{background-position:0 -19px}
a.wei_chat{background-position:0 -38px}
.logo{float:left;margin-top:30px;padding:10px 0 0 314px;display:inline;height:16px;line-height:16px;color:#a4a4a4;font-size:16px;font-weight:bold;background:url(logo.jpg) no-repeat}
.logo span{color:#e8340c}
.search{float:right;width:280px}
.search_box{float:left;margin-top:26px;width:280px;height:36px;background:#ff4e33}
.search_box .wrapper{position:relative;float:left;margin:3px;display:inline;width:238px;height:30px;background:white}
.search_box input{position:absolute;left:0;top:0;z-index:2;float:left;padding:5px 10px;display:inline;width:218px;height:20px;line-height:20px;border:0;background:transparent}
.search_box label{float:left;width:100%;height:100%}
.search_box label span{float:left;line-height:30px;font-size:14px;text-indent:10px;color:#999}
.search_btn{float:left;margin:7px 0 0 7px;display:inline;width:19px;height:21px;background:url(icon_search.gif) no-repeat}
.search dl{height:24px;line-height:24px;color:#999}
.search dt{text-indent:13px}
.search dd a{margin-left:9px;color:#999}
.search dd a:hover{color:#ed2100}
.nav {float:left;margin-top:5px;width:100%;height:38px}
.category_title{position:relative;float:left;margin-bottom:-2px;width:190px;height:38px;border-bottom:2px solid #ff3615;background:#ff5036}
.category_title span.name{float:left;width:100%;line-height:38px;text-align:center;font-size:16px;font-weight:bold;color:white;}
.category_title .cate_menu {position:absolute;left:0;top:38px;z-index:1000;padding-top:2px;display:none}
.cate_menu {float:left;width:198px;height:406px;overflow:visible}
.cate_menu_shadow {float:left;width:3px;height:100%;overflow:hidden;background:url(side_menu_shadow.png)}
.cate_menu_shadow.lft{margin-left:-3px;display:inline;width:3px;background-position:0 0}
.cate_menu_shadow.rit{width:5px;background-position:-3px 0}
.cate_menu_shadow.btm{width:100%;height:6px;background-position:0 -406px}
.cate_menu_box {float:left;width:190px;height:400px}
.cate_menu_items {float:left;width:190px;overflow:visible;background:#626161}
.cate_item {position:relative;z-index:6;float:left;width:190px;height:57px;border-bottom:1px solid #737373}
.hover_layer{position:absolute;left:0;top:0;z-index:5;float:left;width:190px;height:57px}
.hover_layer dl{margin:9px 0 0 22px;display:inline}
.hover_layer dt{width:168px;height:18px;line-height:18px;font-size:14px;color:white}
.hover_layer dt a{color:white}
.hover_layer dd a{color:#d0d0d0}
.hover_layer dt span{float:left;margin-right:10px;display:inline;width:20px;height:18px;overflow:hidden;background:url(icons_side_menu.gif)}
/*.car,.car .hover_layer{height:68px}*/
.car .hover_layer dt span{background-position:0 0}
.travel .hover_layer dt span{background-position:0 -18px}
.home .hover_layer dt span{background-position:0 -36px}
.crash .hover_layer dt span{background-position:0 -54px}
.baggage .hover_layer dt span{background-position:0 -72px}
/*.person,.person .hover_layer{height:67px}*/
.person .hover_layer dt span{background-position:0 -90px}
.hover_layer dd {padding-left:30px;display:inline;width:138px;height: 14px;line-height: 14px;color:#d0d0d0;margin-top: 6px;}
.hover .hover_layer{width:195px;background:white}
.hover .hover_layer dt a{color:#ed2303}
.hover .hover_layer dd, .hover .hover_layer dd a{color:#666}
.car.hover .hover_layer dt span{background-position:-20px 0}
.travel.hover .hover_layer dt span{background-position:-20px -18px}
.home.hover .hover_layer dt span{background-position:-20px -36px}
.crash.hover .hover_layer dt span{background-position:-20px -54px}
.baggage.hover .hover_layer dt span{background-position:-20px -72px}
.person.hover .hover_layer dt span{background-position:-20px -90px}
.hover_layer dd a:hover{color:#ff4e34}
.cate_sub_menu {position:absolute;left:190px;top:0;z-index:4;width:452px;height:332px;display:none}
.cate_sub_corner {float:left;overflow:hidden;background:url(side_sub_menu_corner.png)}
.cate_sub_corner.s_lt{width:6px;height:4px;background-position:0 0}
.cate_sub_corner.s_rt{width:4px;height:4px;background-position:-6px 0}
.cate_sub_corner.s_lb{width:6px;height:6px;background-position:0 -4px}
.cate_sub_corner.s_rb{width:4px;height:6px;background-position:-6px -4px}
.cate_sub_shadow_hor,.cate_sub_shadow_ver {float:left;overflow:hidden}
.cate_sub_shadow_hor {width:442px;background:url(side_sub_menu_shadow_hor.png)}
.cate_sub_shadow_ver {height:332px;background:url(side_sub_menu_shadow_ver.png)}
.cate_sub_shadow_hor.s_top{height:4px}
.cate_sub_shadow_hor.s_btm{height:6px;background-position:0 -4px}
.cate_sub_shadow_ver.s_lft{width:6px}
.cate_sub_shadow_ver.s_rit{width:4px;background-position:-6px 0}
.cate_sub_inner {float:left;width:442px;height:322px;background:url(side_sub_menu_fill.png);}
.travel .cate_sub_menu {top:-58px}
.travel .cate_sub_shadow_ver {height:580px}
.travel .cate_sub_inner {height:580px}
.crash .cate_sub_menu {top:-116px;height:289px}
.crash .cate_sub_shadow_ver {height:520px}
.crash .cate_sub_inner {height:520px}
.home .cate_sub_menu {top:-174px;height:289px}
.home .cate_sub_shadow_ver {height:520px}
.home .cate_sub_inner {height:520px}
.baggage .cate_sub_menu {top:-166px;height:238px}
.baggage .cate_sub_shadow_ver {height:228px}
.baggage .cate_sub_inner {height:228px}
.person .cate_sub_menu {top:-257px;width:618px;height:376px}
.person .cate_sub_shadow_hor {width:608px}
.person .cate_sub_shadow_ver {height:366px}
.person .cate_sub_inner {width:608px;height:366px}
.cate_sub_content {float:left;display:inline}
.cate_sub_column {float:left;display:inline;width:190px}
.cate_sub_column h2{width:178px;height:23px;line-height:23px;font-size:14px;font-weight:bold;border-bottom:1px solid #ccc}
.cate_sub_column h2.recommend{width:120px;color:#ed2100}
.cate_sub_column h3{width:100%;height:18px;line-height:18px;font-size:14px;color:#666}
.cate_sub_column h1{float:left;margin-top:15px;width:100%;height:30px;line-height:18px;font-size:20px;font-weight:bold}
.cate_sub_column .price{float:left;margin-top:3px;padding-top:15px;width:100%;height:14px;line-height:14px;font-size:14px;color:#666;overflow:hidden}
.cate_sub_column .price span{float:left;margin-top:-2px;height:16px;line-height:16px;font-size:16px;color:#ff4e34}
.cate_sub_column .price strong{float:left;margin-top:-11px;height:25px;overflow:hidden;font:bold 24px 'Microsoft YaHei',sans-serif;color:#ff4e34}
.cate_sub_column ul{float:left;width:100%}
.cate_sub_column li{float:left;width:100%;height:30px;line-height:30px;overflow:hidden;text-indent:11px;color:#666;background:url(li_dot_gray.gif) 0 50% no-repeat }
.cate_sub_column li span{color:#ed2303}
.cate_sub_column li a{float:left;display:inline-block;color:#666;overflow:hidden}
.cate_sub_column li a:hover{color:#ff4e34}
span.icon_label{position:relative;float:left;margin:4px 0 0 5px;width:21px;height:9px;overflow:hidden;background:url(icon_hot&new.png)}
span.icon_label.new{background-position:0 0}
span.icon_label.hot{background-position:0 -9px}
.cate_sub_column a.for_detail{float:left;margin-top:14px;height:14px;line-height:14px;font-size:14px;overflow:hidden;color:#1462cd}
.cate_sub_column a.for_detail:hover{color:#ff4e34}
.cate_sub_illus {float:left;width:233px;height:187px;background:url(illus_car.png)}
.cate_sub_note {float:left;width:100%;height:40px;line-height:40px;text-align:center;color:#666}
.car .cate_sub_content {margin:11px 0 0 33px}
.travel .cate_sub_content {margin:11px 0 0 4px}
.travel .cate_sub_column {margin-left:15px;width:190px}
.travel .cate_sub_column h2.recommend{width:100%}
.travel .cate_sub_column h1{line-height:18px}
.travel .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.travel .cate_sub_column ul{padding-bottom:14px}
.travel .cate_sub_illus {margin-top:10px;width:202px;height:141px;background:url(illus_travel.png)}
.home .cate_sub_content {margin:11px 0 0 4px}
.home .cate_sub_column {margin-left:10px;width:200px}
.home .cate_sub_column h2.recommend{width:100%}
.home .cate_sub_column h1{line-height:18px}
.home .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.home .cate_sub_illus {float:right;margin:10px -2px 0 0;display:visible;width:205px;height:101px;background:url(illus_home.png)}
.crash .cate_sub_content {margin:11px 0 0 4px}
.crash .cate_sub_column {margin-left:15px;width:190px}
.crash .cate_sub_column h2.recommend{width:100%}
.crash .cate_sub_column h1{line-height:18px}
.crash .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.crash .cate_sub_illus {float:right;margin:0 15px 0 0;display:visible;width:188px;height:109px;background:url(illus_crash.png)}
/*.baggage .cate_sub_content {margin:11px 0 0 4px}*/
.baggage .cate_sub_column {width:190px;margin-left: 15px;}
.baggage .cate_sub_column h2.recommend{width:100%}
.baggage .cate_sub_column h1{line-height:18px;font-size:18px}
.baggage .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.baggage .cate_sub_illus {float:right;margin:-40px 20px 0 0;display:visible;width:112px;height:111px;background:url(illus_baggage.png)}
.baggage .cate_sub_column ul{padding-bottom:14px}
.person .cate_sub_content {margin:11px 0 0 4px}
.person .cate_sub_column {margin-left:15px;width:174px}
.person .cate_sub_column.wild {margin-left:60px;width:320px}
.person .cate_sub_column h2{width:100%}
.person .cate_sub_column h3{height:auto;line-height:24px;font-size:12px}
.person .cate_sub_column h1{line-height:18px;font-size:18px}
.person .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.person .cate_sub_illus {float:right;margin:-40px 20px 0 0;width:117px;height:75px;background:url(illus_person_1.png)}
.person .cate_sub_illus.illus_2{background:url(../images/illus_person_2.png);}
.person .cate_sub_column ul{padding-bottom:23px}

.qiye .hover_layer dt span{background:url(qiyeIcon.gif) no-repeat;background-position:-24px 0;}
.qiye.hover .hover_layer dt span{background-position:1px 0}
.qiye .cate_sub_menu {top:-113px;}
.qiye .cate_sub_content{margin-top:4px;padding-bottom:8px;}
/* .qiye .cate_sub_column h2{width:50%} */
.qiye .cate_sub_column h3{height:auto;line-height:24px;font-size:12px}
.qiye .cate_sub_column h1{line-height:18px;font-size: 18px;}
.qiye .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.qiye .cate_sub_illus{float:right;margin:60px 20px 0 0;width:151px;height:98px;}
.qiye .cate_sub_column ul{padding-bottom:23px}
.qiye .cate_sub_column.wild {margin-left:7px;width:234px}
.qiye .cate_sub_illus {float:right;margin:60px 20px 0 0;width:151px;height:98px;background-image:url(qiyebaoxian_s_180211.png)}

.nav_items{float:left;height:38px}
.nav_item{float:left;margin-top:11px;padding:0 15px 0 5px;display:inline;width:108px;line-height:16px;text-align:center;font-size:16px}
.nav_item:hover,.nav_item.current{color:#ff4e34;font-weight:bold}
.drop_down{position:relative;float:left;margin-bottom:-2px;border-bottom:2px solid #ff3615;padding-bottom:11px;cursor:pointer}
.drop_down .nav_item{float:left;display:inline;background:url(icon_arrow_down.gif) 100px 0 no-repeat}
.drop_down.hover .nav_item{color:#ff4e34;font-weight:bold;background-position:100px -16px}
.sub_menu{position:absolute;right:-8px;top:30px;z-index:2;float:left;padding-top:10px;width:143px;display:none}
.sub_menu_shadow{float:left;width:8px;height:178px;overflow:hidden;background:url(drop_menu_shadow.png)}
.sub_menu_shadow.shadow_lft{background-position:0 0}
.sub_menu_shadow.shadow_rit{background-position:-8px 0}
.sub_menu_shadow.shadow_btm{width:100%;height:10px;background-position:0 100%}
.sub_menu_box{float:left;width:127px}
.sub_menu_box ul{float:left;padding:10px 0;width:125px;height:146px;border:1px solid #cdcdcd;background:#fafafa}
.sub_menu_box ul li{float:left;padding-left:20px;display:inline;width:105px;height:28px;line-height:28px;}
.sub_menu_box ul li a{float:left;width:100%;font-size:14px;color:#666}
.sub_menu_box ul li a:hover{color:#ff4e34}
.all_products{position:relative;float:right;margin:11px 0 -2px 0;height:27px;border-bottom:2px solid #ff3615;cursor:pointer;background:white;}
.all_products .sub_menu{top:19px;width:153px;}
.all_products .sub_menu_shadow{height:113px}
.all_products .sub_menu_shadow.shadow_btm{height:10px}
.all_products .sub_menu_box{width:137px}
.all_products .sub_menu_box ul{width:135px;height:87px}
a.trigger{float:left;padding-left:22px;display:inline;height:16px;line-height:16px;color:#333;font-size:16px;background:url(icon_4buck.gif) no-repeat}
.all_products.hover .trigger{color:#ff4e34;background-position:0 -16px}
.site_map{float:left;padding-top:27px;width:100%;height:213px}
ul.map_column{}
ul.map_column li{float:left;width:100%;height:28px}
ul.map_column li span{float:left;margin:3px 0;padding-left:37px;display:inline;height:22px;line-height:22px;font-size:16px;font-weight:bold;background:url(icons_site_map.gif) no-repeat}
ul.map_column li a{float:left;padding-left:37px;display:inline-block;line-height:28px;font-size:12px;font-weight:normal}
ul.map_column li a:hover{color:#e7340b}
ul.map_column.column_1{width:177px}
ul.map_column.column_2{width:180px}
ul.map_column.column_3{width:185px}
ul.map_column.column_4{width:192px}
ul.map_column.column_1 li span{background-position:0 0}
ul.map_column.column_2 li span{background-position:0 -22px}
ul.map_column.column_3 li span{background-position:0 -44px}
ul.map_column.column_4 li span{background-position:0 -66px}
.contact{float:left;margin-top:3px;width:454px;height:175px;border-left:1px solid #a8a8a8}
.contact h2{margin-left:86px;display:inline;height:22px;line-height:22px;font-size:18px;font-weight:bold}
dl.contact_list{margin-top:10px;width:328px}
dl.contact_list dt,dl.contact_list dd{margin:2px 0;height:22px;line-height:22px;display:inline;font-size:16px}
dl.contact_list dt{margin-left:57px;padding-left:29px;width:81px;background:url(icons_site_map.gif) no-repeat}
dl.contact_list dt.hot_line{background-position:0 -88px}
dl.contact_list dt.no_icon{background:none}
dl.contact_list dt.online{background-position:0 -110px}
dl.contact_list dd{width:161px}
dl.contact_list dd a{color:#1e7dd8;text-decoration:underline}
.contact ul{margin:22px 0 0 57px;display:inline;}
.contact ul li{float:left;padding:0 20px 0 22px;display:inline;height:22px;line-height:22px;background:url(icons_site_map.gif) no-repeat}
.contact ul li.ios{padding-left:32px;background-position:0 -132px}
.contact ul li.android{padding-right:14px;background-position:0 -154px}
.contact ul li.wap{padding-right:0;background-position:0 -176px}
.contact a:hover{color:#e7340b}
dl.weichat{float:right;width:126px}
dl.weichat dt{float:left;padding-left:31px;height:22px;font-size:16px;background:url(icons_site_map.gif) 0 -198px no-repeat}
dl.weichat dd{float:left;margin:15px 0 0 16px;display:inline;width:100px;height:100px;background:url(wei_chat.gif) no-repeat}

.location{float:left;width:100%;height:40px;line-height:40px;text-indent:1px;color:#666}
.location a{color:#666;}
.location a:hover{color:#ff4e34}
.pager { float: left; padding: 34px 0 38px 0; }
.pager a, .pager input { float: left; margin-right: 4px; display: inline; width: 22px; height: 22px; line-height: 22px; text-align: center; border: 1px solid #d5d5d5; color: #3a3a3a; }
.pager a.flipper { width: 52px; }
.pager a.current, .pager a:hover { border-color: #f30; color: #f30; }
.pager a.disabled, .pager a.disabled:hover { border-color: #d5d5d5; color: #999; cursor: default; }
.pager input { margin: 0 2px 0 1px; padding: 5px; width: 42px; height: 12px; line-height: 12px; }
.pager label, .pager span { float: left; padding: 0 3px; display: inline; height: 24px; line-height: 24px; }

label.placeholder { position: relative; }
label.placeholder input, label.placeholder textarea { position: absolute; left: 0; top: 0; z-index: 2; background: transparent; }
label.placeholder span { float: left; padding: 9px 10px; height: 12px; line-height: 12px; color: #999; }
label.placeholder.thr_rows { height: 60px; }
label.placeholder.thr_rows textarea { height: 42px; }
label.placeholder.ten_rows { height: 136px; }
label.placeholder.ten_rows textarea { height: 118px; }
.txt_field, textarea { float: left; padding: 8px 10px; width: 168px; height: 12px; line-height: 12px; border: 1px solid #ccc; background: white; }
textarea { width: 470px; height: 24px; }
.button { float: left; margin-left: 10px; padding: 0; display: inline; width: 68px; height: 28px; line-height: 28px; font-size: 14px; text-align: center; border: 1px solid #ff4e34; color: white; background: #ff4e34; }
input.button { line-height: 20px !important; }
.btn_red { color: white !important; }
.btn_red:hover { background: #f31; }
.btn_reset { float: left; margin-left: 30px; display: inline; height: 30px; border: 0; font-size: 14px; color: #069; background: transparent; }
.btn_up { font-size: 14px; background: url(icon_btn_up.gif) 16px 0 no-repeat #ff4e34; }
.btn_up:hover { background-position: 16px -30px; background-color: #f31;}
.btn_share { font-size: 14px; background: url(icon_btn_share.gif) 24px 0 no-repeat #ff4e34; }
.btn_share:hover { background-position: 24px -30px; background-color: #f31;}
.btn_hol { border-color: #ff4e34; color: #ff4e34; background: white; }
.btn_hol:hover { background: #ff4e34; color: white; }
.btn_gary_l { border-color: #d7d6d5; color: #333; background: #d7d6d5; }
.btn_gary_l:hover { background: #cbcbcb; }
.btn_gary_d { border-color: #ccc; color: #999; background: #ccc; }
.btn_gary_d:hover { background: #eee; }
.btn_gary_s { border-color: #ccc; background: #eee; }
.btn_gary_s:hover { border-color: #999; background: #ccc; }
.btn_gary_sd { font-size: 12px; color: #333; border-color: #ccc; background: #eee; }
.btn_gary_sd:hover { background: #e1e1e1; }
.size_70x30 { width: 68px; height: 28px; }
.size_100x30 { width: 98px; height: 28px; }
.size_120x30 { width: 118px; height: 28px; }
.size_160x30 { width: 158px; height: 28px; }
.size_120x40 { width: 118px; height: 38px; line-height: 38px; font-size: 16px; }
.size_280x40 { width: 278px; height: 38px; line-height: 38px; font-size: 18px; }
.size_50x20 { width: 50px; height: 20px; line-height: 20px; }
.btn_reset { float: left; margin-left: 30px; display: inline; height: 30px; border: 0; font-size: 14px; color: #069; background: transparent; }
input.size_70x30, input.size_100x30, input.size_120x30 { height: 30px; line-height: 30px;}
input.size_120x40, input.size_280x40 { height: 40px; line-height: 40px; }

.side_menu { float: left; width: 228px; border-top: 1px solid #e2e2e2; background: url(bd_gradient_gray.gif) no-repeat; overflow: hidden; }
.side_menu ul { padding: 0 12px; display: inline; width: 204px; height: 321px; background: url(bd_gradient_gray.gif) 100% 0 no-repeat; }
.side_menu li { float: left; margin-top: -1px; width: 100%; height: 46px; line-height: 46px; border-top: 1px dashed #ececec; }
.side_menu li a { float: left; margin: 13px 0 13px 24px; padding-left: 15px; display: inline; height: 19px; line-height: 19px; font-size: 16px; background: url(li_arrow.gif) 0 4px no-repeat; }
.side_menu li a:hover, .side_menu li.sim_current a { color: #ff4e34; background-position: 0 -17px; }

.constricted{}
.constricted .frame_width{width:1000px}
.constricted .frame{width:1000px}
.constricted .all_products .sub_menu{right:-2px}
.constricted ul.map_column.column_1{width:145px}
.constricted ul.map_column.column_2{width:148px}
.constricted ul.map_column.column_3{width:153px}
.constricted ul.map_column.column_4{width:161px}
.constricted .contact{width:392px}
.constricted .contact h2{margin-left:56px}
.constricted dl.contact_list{margin-top:10px;width:271px}
.constricted dl.contact_list dt,dl.contact_list dd{margin:2px 0;height:22px;line-height:22px;display:inline;font-size:16px}
.constricted dl.contact_list dt{margin-left:27px;padding-left:29px;width:81px}
.constricted dl.contact_list dd{width:134px}
.constricted dl.contact_list dd a{color:#1e7dd8;text-decoration:underline}
.constricted .contact ul{margin:22px 0 0 27px;display:inline;width:248px}
.constricted .contact ul li{float:left;padding:0 20px 0 18px;display:inline;height:22px;line-height:22px;background:url(icons_site_map.gif) no-repeat}
.constricted .contact ul li.ios{padding-left:22px;background-position:0 -132px}
.constricted .contact ul li.android{padding:0 20px 0 22px;background-position:0 -154px}
.constricted .contact ul li.wap{padding-right:0;background-position:0 -176px}
.constricted .contact a:hover{color:#e7340b}
.constricted dl.weichat{float:right;width:116px}
.constricted .side_menu {width: 158px;}
.constricted .side_menu ul {padding: 0 2px; width: 154px;}
.constricted .side_menu a { margin-left: 10px; padding-left: 14px; }
.nav a.nav_item{font-size:16px;}
/*会员权益小图标*/
.hyqy_lp{float:left;display:inline-block;*display:inline;*zoom;min-width:22px;height:22px;background:url(/images/hyqylph.jpg) left center no-repeat;position:relative;top:-4px;}
.hyqy_lp i{font-size:12px;color:#fff;font-style:normal;float:left;margin-left:18px;background:url(/images/hyqylph.png) right center no-repeat;padding-right:3px;text-align:left;height:14px;line-height:14px;}

.fengongsi .hover_layer dt span{background: url("fengongsi-icons.png") no-repeat}
.fengongsi.hover .hover_layer dt span{background-position:0 -19px}
.fengongsi .cate_sub_menu {top: -208px;height: auto;}
.fengongsi .cate_sub_shadow_ver {height: 260px;}
.fengongsi .cate_sub_inner {height: 260px;}
.fengongsi .cate_sub_column {width:190px;margin-left: 15px;}
.fengongsi .cate_sub_column h2.recommend{width:100%}
.fengongsi .cate_sub_column h1{line-height:18px;font-size:18px}
.fengongsi .cate_sub_column li{height:26px;line-height:26px;text-indent:0;background:none}
.fengongsi .cate_sub_illus {float:right;margin: 0 20px 0 0;width:189px;height:145px;background:url(shanghaidiqu190414.png);}
.fengongsi .cate_sub_column ul{padding-bottom:14px;margin-top:3px;}